h1 {
    color: darkgrey;
}

h2 {
    color: darkorange;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    border-radius: 50%;
    border: 5px solid rgb(63, 64, 75);
    border-style: solid;
}

header {
    margin-bottom: 20px;
}

li {
    text-align: center;
    color: rgb(rgb(112, 58, 58), rgb(69, 90, 69), rgb(33, 33, 231));
}

body {
    background-image: url(https://www.alura.com.br/artigos/assets/hello-world-em-varias-linguagens/imagem1.gif);
    background-size: 100%;
    text-align: center;
}

div {
    background-color: rgb(79, 121, 121);
    width: 300px;
    margin: auto;
    border: solid;
    border-radius: 5%;
    font-size: large;
    font-style: italic;
    opacity: 0.8;
    margin-top: 20px;
}

.skills {
    display: inline-block;
    background-color: rgb(79, 121, 121);
    width: 300px;
    border: solid;
    border-radius: 5%;
    font-size: large;
    font-style: italic;
    opacity: 0.8;
    margin-top: 20px;
}